---
hostname: "{{ ansible_hostname }}"
es_url: "{{ es_url }}"
es_index: "active_rider"
update_interval: 1000

battery_level: {{ (99 | random(0))/100 }} 

# randomized location near alb
location:
  lat: {{ 35.105 + ( 50 | random(-50))/1000 }} 
  lon: {{ -106.629 + ( 50 | random(-50))/1000 }}
