server {
    
    listen {{ proxy_port }};

    server_name _;

    index index.html index.htm;

    set $proxy_pass_url http://127.0.0.1:{{ proxy_pass_port }};
    location / {
        proxy_set_header Host $proxy_pass_url;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header Connection "Keep-Alive";
        proxy_set_header Proxy-Connection "Keep-Alive";
        proxy_pass $proxy_pass_url/;
    }
    location ~ {
        proxy_pass          $proxy_pass_url;
        proxy_set_header    Host $host;
        proxy_set_header    X-Real-IP $remote_addr;
        proxy_set_header    X-Forwarded-Host $http_host;
    }

}


